node_modules
*.log
.env
ip-*.json
*.sqlite
*.php
server/prog*.js
server/data/user-M1049.json
temp.txt
setup/test*
deployLastRun.txt
deployLastData.json
server/downloads/StEdsNewMemberInfo-2022-Sept.pdf
server/env
server/depricated.json
server/indexExpress.js
server/temp
.gitignore
server/indexRaw.js
server/index2.js
